<div class="container" *ngIf="!datailTable">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Employee ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of arr">
                <th><a (click)="getEmployeeLeave(d.empId)">{{d.empId}}</a></th>
                <td>{{d.firstName}}</td>
                <td>{{d.lastName}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container" *ngIf="datailTable">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Reason</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of empdata">
                <td>{{d.firstName}}</td>
                <td>{{d.lastName}}</td>
                <td>{{d.startDate}}</td>
                <td>{{d.endDate}}</td>
                <td>{{d.reason}}</td>
            </tr>
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>