<div class="container">
    <h4>Employee Id : {{id}} </h4>
    <h1 align="center">{{first}} {{last}}</h1>
</div>
<hr>
<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Start Date(YYYY-MM-DD)</th>
                <th scope="col">End Date</th>
                <th scope="col">Reason</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of data">
                <td>
                    <div *ngIf="!d.isEdit">
                        {{d.startDate}}
                    </div>
                    <div *ngIf="d.isEdit">
                        <input type="text" class="form-control" [(ngModel)]="d.startDate">
                    </div>
                </td>
                <td>
                    <div *ngIf="!d.isEdit">
                        {{d.endDate}}
                    </div>
                    <div *ngIf="d.isEdit">
                        <input type="text" class="form-control" [(ngModel)]="d.endDate">
                    </div>
                </td>
                <td>
                    <div *ngIf="!d.isEdit">
                        {{d.reason}}
                    </div>
                    <div *ngIf="d.isEdit">
                        <input type="text" class="form-control" [(ngModel)]="d.reason">
                    </div>
                </td>
                <td *ngIf="!d.isEdit"><button class="btn btn-success" (click)="isEditable(d)">Edit</button></td>
                <td *ngIf="d.isEdit"><button class="btn btn-success" (click)="isnotEditable(d)">Save</button>
                    <button class="btn btn-success ml-2" (click)="isnotEditable(d)">Cancle</button>
                </td>
            </tr>
        </tbody>
        <tr>
            <td>
                <div *ngIf="addNew">
                    <input type="date"  [(ngModel)] = "StartDate"  class="form-control" placeholder="Start Date">
                </div>
            </td>
            <td>
                <div *ngIf="addNew">
                    <input type="date" [(ngModel)] = "EndDate" class="form-control" placeholder="End Date">
                </div>
            </td>
            <td>
                <div *ngIf="addNew">
                    <input type="text" [(ngModel)] = "ReasonOfLeave" class="form-control" placeholder="Reason">
                </div>
            </td>
            <td>
                <button class="btn btn-success" *ngIf="addNew" (click)="onSubmit()">Submit</button>
            </td>
            <td>
                <button class="btn btn-success" *ngIf="addNew" (click)="addNewLeave()">Cancle</button>
            </td>
        </tr>
    </table>
</div>

<div class="container">
    <button class="btn btn-success" (click)="addNewLeave()">New</button>
</div>

<router-outlet></router-outlet>